@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@theme {
    --color-main-primary:   #042042;
    --color-main-secondary: #eaea52;
    --color-main-black:     #343434;
    --color-main-white:     #ffffff;
    --color-main-light:     #f6f7fb;
    --color-main-accent:    #4ea1d3;
}

.fi {
    --primary-50:  var(--color-main-light);
    --primary-100: var(--color-main-light);
    --primary-500: var(--color-main-primary);
    --primary-600: var(--color-main-primary);
    --primary-700: var(--color-main-primary);
}

:root {
    font-size: 14px;
}

.fi-topbar {
    @apply bg-main-primary/0 shadow-none ring-0;
}

/* Sidebar styling */
.fi-sidebar {
    @apply bg-main-primary rounded-2xl shadow-lg m-3;
    height: calc(100vh - 6rem);
}

.fi-sidebar .fi-sidebar-nav {
    @apply overflow-y-hidden;
}

.fi-sidebar .fi-sidebar-item {
    @apply hover:text-main-black;
}
.fi-sidebar-item:hover{
    @apply bg-main-secondary rounded-xl;
}

.fi-sidebar .fi-sidebar-item:hover .fi-sidebar-item-label{
    @apply text-main-black;
}

.fi-sidebar .fi-sidebar-item.fi-active {
    @apply text-main-black bg-main-secondary rounded-xl;
}

.fi-sidebar .fi-sidebar-item .fi-sidebar-item-label {
    @apply text-main-white font-bold;
}

.fi-sidebar .fi-sidebar-item.fi-active .fi-sidebar-item-label {
    @apply text-main-black;
}